body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #ff9c00;
  font-size: clamp(16pt, 2vw, 18pt);
}

#container {
  max-width: 1000px;
  position: center;
  margin: 0 auto;
}

#container h1 {
  font-size: 22pt;
  padding-top: 30px;
}

#container h3 {
  font-size: 18pt;
  padding-top: 10px;
}

.links li {
  margin-left: 0;
  margin-right: auto;
}

.links a {
  color: #ff9c00;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
